*{
    font-family:微軟正黑體, Ariel;
  }
  
  html{
    background-color:#d1d1d1;
  }
  .profile{
    display:flex;
    width:900px;height: 1500px;
    background-color:#eee;
    margin: 15px auto;}
  
  .protop{
    width: 100%;
    height: 20%;
    background: #222;
    margin: 10px;
    display:inline-flex;
  }
  
  .profileimg,.namecard{
    width:50%;
    display:flex;
  }
  
  .namecard{
    color:#fff;
    flex-direction: column;
    
  }
  
  .profileimg{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    
  }
  
  .profileimg img{
    border-radius: 100%;
    width:200px;
    height:200px;
  }